/* reset css */
*{
    margin: 0px;
    padding: 0px;
}

/* css variable */
:root{
    --navbar-hight: 60px;
}

/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}

#navbar button{
    /* border-radius: 5px;
    height: 100%;
    width: 100px;
    color: azure;
    font-size: 1.1rem;
    background-color: blueviolet; */
    margin-left: auto; /* Adjust this if you need the button elsewhere */
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    
}
#navbar button:hover{
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Navigation bar: logo and style */
#logo{
    margin: 10px 34px;
}

/* Navigation bar: list styling */


#logo img{
    height: 100px;
    margin: 3px 6px;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 2.9;

}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding:3px 22px;
    border-radius: 25px;
    text-decoration: none;
 }

 #navbar ul li a:hover{
    color: black;
    background-color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
 }

 /* HOME SECTION*/
 #home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    align-items: center;
    height: 350px;
    justify-content: center;

 }

 #home::before{
    content: "";
    background: url('back1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 72%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.89;
 }

 #home h1{
  color: white;
  text-align: center;
 font-family: 'Bree Serif', serif;
 }

 #home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
   font-family: 'Bree Serif', serif;
}

#home .btn:hover{
 background-color: yellow;
 border: orangered;
}


/*Servisec section*/
#services{
    margin:34px ;
    display: flex;
    
}
#services .box{
    background-color: wheat;
   border: 2px solid brown;
   border-radius: 28px;
   margin: 3px 6px;
   padding: 34px;

}
#services .box img{
    height: 150px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif; 

}




/*Clients section*/
#client-section{
 position: relative;
 height: 344px;

}

#client-section::before{
  content: "";
  position: absolute;
  background: url('client.jpg');
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
}

#clients{
    display: flex;
    font-size: 3.8px;
    padding: 12px;
}
.client-item{
    padding:34px;
}

#clients img{
    height: 124px;
}

/*Contacts Section*/
#contact{
 position: relative;   
}

#contact::before{
  content: "";
  position: absolute; 
  width: 100%;
  height: 100%;
  z-index: -1; 
  opacity: 0.7;
  background: url('con.webp');
  /* background: url('OIP.jpg') no repeat center center/cover; */
}

#contact-box{
 display: flex;
 justify-content: center;
 align-items: center;
 padding-bottom: 34px;
}

#contact-box input{
    border-radius: 5px;
    padding: 8px;

}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif; 
}

#contact-box textarea{
    width: 100%;
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: 20px;
}

footer{
    color: white;
    background: black;
    padding: 9px 20px;
}
 /*utility class*/
 .h-primery{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif; 
 }

 .h-secondry{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif; 
 }

 .btn{
    padding: 6px 20px;
    border: 3px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 15px;
 }

 .center{
    text-align: center;
 }




#contact button{
    background-color: brown;
    border-radius: 5px;
    color: white;
    height: 80%;
    width: 90px;
}





































/* 
//BALLU BHAI */
 /* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">

 font-family: 'Baloo Bhai 2', cursive; */




 /* //BREE SARIF */
 /* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&display=swap" rel="stylesheet">


font-family: 'Baloo Bhai 2', cursive;
font-family: 'Bree Serif', serif; */